<div class = "main">
<% if @videos.any? %>
<% @videos.each do |video| %>
<% if video %>
<%= link_to image_tag("https://img.youtube.com/vi/#{video.uid}/mqdefault.jpg"), playvideo_path(id: video.id), class: "img"  %>
<% end %>
<% end %>
<% end %>
</div>
