<div class="main">
<div class="upload">
  <h1>Copy your link here</h1>
  <%= form_for @video do |f| %>
  <%= f.text_field :link, required: true %>
  <%= f.submit 'Upload'  %>
  <% end %>
</div>
</div>
