<div>
<iframe src='https://www.youtube.com/embed/<%= @video.uid %>?rel=0&autoplay=<%= params[:autoplay] || 0frameborder='0' allowfullscreen class= "yt_preview img-rounded" ></iframe>             	
</div>

