<div class="main">
	<iframe src='https://www.youtube.com/embed/<%= @video.uid %>?rel=0&autoplay=<%= params[:autoplay] || 0frameborder='0' allowfullscreen width="1000" height="600" ></iframe>             	
</div>

