// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.button {
  display: inline-block;
  padding: 10px 12px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #9c9;
  background-color: #4CAF50;
  border: none;
}
.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}
body {
  margin:0;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.navbar {
  overflow: hidden;
  background-color: #87CEFA;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a1 {
  float: right;
  display: block;
  color: #111;
  text-align: center;
  padding: 40px 30px;
  text-decoration: none;
  font-size: 17px;
}

.main {
  padding: 100px;
  margin-top: 10px;
  height: 1500px; /* Used in this example to enable scrolling */
}

img {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 50px;
    width: 300px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.upload {
    position: absolute;
    background-color: lightgrey;
    width: 500px;
    top: 25%;
    right: 35%;
    border: 30px solid #87CEFA;
    padding: 50px;
}
.input_search[type=text] {
    width: 30%;
    padding: 12px 20px;
    margin: 20px 30px;
    box-sizing: border-box;
    border: 3px solid #ccc;
}